@font-face {
    font-family: "Cabinet Grotesk";
    src: "public/fonts/vendor/CabinetGrotesk-Regular.woff";
  }
  
  .modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal__content {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    box-sizing: border-box;
    max-width: 498px;
    width: 100%;
    position: relative;
  }
  
  .modal__image {
    border-radius: 10px 10px 0px 0px;
  }

  .modal__password{
    width: 100%;
  border: none;
  border-bottom: 1px solid;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  padding-top: 8px;
  margin-bottom: 0px;
  }

  .modal__email{
  width: 100%;
  border: none;
  border-bottom: 1px solid;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  padding-top: 8px;
  margin-bottom: 0px;
  }
  
  .modal__close {
    background-image: url("../../images/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    height: 20px;
    width: 20px;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
  }
  
  .modal__close:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  
  .modal__info {
    padding: 20px;
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    display: grid;
    grid-template-areas:
      "a b"
      "c d";
  }
  
  .modal__title {
    padding-bottom: 20px;
  }

  .button-container{
    display: flex;
    justify-content: left;
    flex-direction: initial;
    gap: 25px;
  }

  .modal__form-button {
  border-radius: 3px;
  width: 124px;
  height: 36px;
  left: 28px;
  bottom: 36px;
  background: rgba(0, 0, 0, 1);
  border-style: none;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
  
  .modal__button-delete {
    border: none;
    background-color: #fff;
    color: #ff4d00;
    font-family: "Familjen Grotesk", sans-serif;
    font-size: 20px;
    font-weight: 600;
    height: 24px;
    display: flex;
    align-self: flex-end;
    margin-bottom: 32px;
    cursor: pointer;
    display: grid;
    justify-content: flex-end;
    grid-area: b;
  }
  